<div class="container product-list">
  <!-- <div class="row mt-5"></div> -->
  <div class="row mt-5">
    <div class="col-3">
    <!-- <button class="btn btn-primary" routerLink="/add" (click)="addNewProduct()"> Create Product </button> -->
    <button class="btn btn-primary" routerLink="add/0" (click)="addNewProduct()"> Create Product </button>
  </div>
</div>

  <div class="row mt-2">
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item active" [routerLink]="['/','inside','products']">Category List</li>
        <li class="list-group-item" *ngFor="let category of categories" [routerLink]="['/','inside','products', category.id]">{{category.categoryName}}</li>
      </ul>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4 mt-3" *ngFor="let product of products">
          <!-- Truyền product từ vòng for xuống cho product xuống <app-product-item>-->
          <!-- Truyền xuống thông qua property thì dạng : con-cha tương ứng  [] = "" : DẠNG I-->
          <!-- Truyền xuống thông qua property thì dạng : con-cha tương ứng  ... = "{{}}" DẠNG II-->
          <!-- Truyền hàm lên thông qua property thì lại có dạng : con-cha tương ứng ()="" -->
          <app-product-item
            [item]="product"
            (addToCartChild)="addToCart(product)"
            (viewMoreChild)="viewMore(product)"
          >
          </app-product-item>
        </div>
      </div>
    </div>
  </div>
</div>
